@{
    ViewData["Title"] = "Our Privacy Policy for our Jokes application";
}
<h1>@ViewData["Title"]</h1>

<p>All Data entered will be protected and only you can view your own information.</p>
<p>Our demo jokes application for our computer science second year software engeeniring</p>
